<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/create-new-employee}" th:object="${employeeEntity}" method="post">
        <input type="text" th:field="*{name}" placeholder="employeeName"/>
        <input type="number" th:field="*{age}" placeholder="employeeWage"/>
        <button type="submit">Create</button>
    </form>

    <div th:each="employee:${allEmployee}">
        <div th:text="${employee.name}"></div>
        <div th:text="${employee.age}"></div>
        <a th:href="@{/delete-employee-by-id/{id}(id = ${employee.id})}">delete</a>
    </div>
</body>
</html>